
                <div class="row mb-3">
                    <label for="fullName" class="col-md-4 col-lg-3 col-form-label">Nom</label>
                    <div class="col-md-8 col-lg-9">
                      <input type="text" name="Login" class="form-control" [(ngModel)]="menu.name" #Login="ngModel" required minlength="4" maxlength="13" >
                      <div *ngIf="Login.touched && Login.invalid">
                      
                        <div *ngIf="Login.errors!['required']"> Entrer vortre Login!</div>
                        <div *ngIf="Login.errors!['minlength']">Votre Login doit étre entre 5 et 12</div>
                    
                  </div>                  
                </div>
                  </div>